/* Reset & 기본 스타일 */
.Customer-main{
    display: flex;
    margin-top: 70px;
    color: black;
}



/* 메인 콘텐츠 */
.Customer-main .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    height: 100vh;
}


/* 고객 리스트 스타일 */
.Customer-main .customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Customer-main .customer h1 {
    margin-bottom: 30px;
    font-size: 28px;
    color: black;
}

.Customer-main .customer-list {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.Customer-main table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
}

.Customer-main table th, table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.Customer-main table th {
    background-color: #2c2c2c;
    color: white;
    font-weight: normal;
}

.Customer-main table td {
    font-size: 16px;
    color: black;
}

.Customer-main table tr:hover {
    background-color: #f1f1f1;
}

.Customer-main button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Customer-main button:hover {
    background-color: #45a049;
    
}

.Customer-main #mainText {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
