/* Reset & 기본 스타일 */
.Customer-main{
    display: flex;
    margin-top: 70px;
    color: black;
}

.Customer-main h1{
    color: rgb(156, 156, 156);
}

/* 메인 콘텐츠 */
.Customer-main .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    height: 100vh;
}


/* 고객 리스트 스타일 */
.Customer-main .customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.Customer-main .customer h1 {
    margin-bottom: 30px;
    font-size: 28px;
    color: black;
}

.Customer-main .customer-list {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.Customer-main table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
}

.Customer-main table th, table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.Customer-main table th {
    background-color: #2c2c2c;
    color: white;
    font-weight: normal;
}

.Customer-main table td {
    font-size: 16px;
    color: black;
}

.Customer-main table tr:hover {
    background-color: #f1f1f1;
}

.Customer-main button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Customer-main button:hover {
    background-color: #45a049;
    
}

.Customer-main #mainText {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.customer-list input {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Customer-main .customer-list .button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.Customer-main .customer-list .save-button {
    background-color: #28a745;
    color: white;
}

.Customer-main .customer-list .save-button:hover {
    background-color: #218838;
}

.Customer-main .customer-list .cancel-button {
    background-color: #dc3545;
    color: white;
}

.Customer-main .customer-list .cancel-button:hover {
    background-color: #c82333;
}

.Customer-main .customer-list .delete-button {
    background-color: #ffc107;
    color: black;
}

.Customer-main .customer-list .delete-button:hover {
    background-color: #e0a800;
}

.Customer-main .customer-list input {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .Customer-main .customer-list input {
        width: 100px;
    }
}

