.posts-main{
    display: flex;
    margin-top: 70px;
    color: black;
}
.posts-main .main-content .post-ul li{
    list-style: none;
    font-size: x-large;
    color: #2c2c2c;
}
.posts-main .main-content .post-ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.posts-main h1{
    color: rgb(156, 156, 156);
}
/* 메인 콘텐츠 */
.posts-main .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    height: 100vh;
}
.posts-main .posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.posts-main .post-list {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.posts-main table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
}

.posts-main table th, table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.posts-main table th {
    background-color: #2c2c2c;
    color: white;
    font-weight: normal;
}

.posts-main table td {
    font-size: 16px;
    color: black;
}

.posts-main table tr:hover {
    background-color: #f1f1f1;
}

.posts-main button {
    padding: 8px 16px;
    background-color: #e04f4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.posts-main button:hover {
    background-color: #e47878;
    
}

.posts-main #mainText {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
