.QnA-main{
    display: flex;
    margin-top: 70px;
}
.QnA-main .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    height: 100vh;
    color: black;
}
.QnA-main .qna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.QnA-main .qna-table {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.QnA-main .qna-table table{
    width: 100%;
}
.QnA-main button {
    padding: 8px 16px;
    background-color: #df5151;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.QnA-main button:hover {
    background-color: #ec6c6c;
    
}
.QnA-main h1 {
    color: rgb(156, 156, 156);
}
.QnA-main table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
}

.QnA-main table th, table td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.QnA-main table th {
    background-color: #2c2c2c;
    color: white;
    font-weight: normal;
}

.QnA-main table td {
    font-size: 16px;
    color: black;
}

.QnA-main table tr:hover {
    background-color: #f1f1f1;
}
