/* Reset & 기본 스타일 */
.subscribe-main{
    display: flex;
    margin-top: 70px;
    color: black;
}



    

/* 메인 콘텐츠 */
.subscribe-main .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    height: 100vh;
}


/* 대시보드 카드 */
.subscribe-main .dashboard-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 0 auto;
}

.subscribe-main .card {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.subscribe-main .card h3 {
    margin-bottom: 10px;
}

/* 차트 및 프로젝트 섹션 */
