.main-top {
    height: 120vh;
  }
  
  .main-top .center-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .main-top .center-logo h1 {
    font-size: 4.5rem;
    margin: 0;
  }

  .main-top .center-logo h2 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.5em;
  }

  .main-top .bg-video {
    position: absolute;
    top: 5vh;
    left: -100;
    width: 100%;
    z-index: -1;
    background-size: cover;
    }


 /* 점을 배치할 SVG 스타일 */
.dot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
}

.dot {
  width: 10px;
  height: 10px;
  fill: #bbbb;
  opacity: 0;
  animation: blink 2s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  /* 오른쪽 아래 채팅 아이콘 */
  .chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
  }

  .chat-icon:hover {
    background-color: #0056b3;
  }

  /* 채팅 팝업 */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 90px; /* 채팅 아이콘 위에 뜨도록 설정 */
    right: 20px;
    width: 300px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    overflow: hidden;
  }

  .chat-popup-header {
    background-color: #444;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chat-popup-header .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .chat-popup-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    background-color: #444;
    color: white;
  }

  .chat-popup-footer {
    display: flex;
    padding: 10px;
    background-color: #444;
  }

  .chat-popup-footer input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    margin-right: 10px;
  }

  .chat-popup-footer button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .chat-popup-footer button:hover {
    background-color: #0056b3;
  }

  /* 채팅 메시지 스타일 */
  .chat-message {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    max-width: 80%;
    word-wrap: break-word;
    text-align: end;
    display: inline-block;
    align-self: flex-end; /* 오른쪽에 정렬 */
    font-size: small;
  }

  /* 스크롤 조정 */
  .chat-popup-body::-webkit-scrollbar {
    width: 8px;
  }

  .chat-popup-body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  /* 메인페이지 main-introduce */
  .main-introduce {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-introduce .box {
    width: 800px;
    height: 500px;
    text-align: center;
    font-size: 1.5rem; /* 글자 크기 조정 */
    letter-spacing: 0.2em;
    line-height: 2em;
  }

  .main-introduce .box b {
    font-size: 1.7rem; /* 'JCM' 텍스트 강조 */
  }

  .main-introduce .bg-video {
  position: absolute;
  top: 110vh;
  left: -100;
  width: 100%;
  z-index: -1;
  background-size: cover;
  }


  /* 메인페이지 main-simulation */
  .main-simulation {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-simulation .text {
    width: 90%;
    text-align: left;
    margin-bottom: 20px;
  }

  .main-simulation .text .title {
    font-size: xx-large;
    font-weight: 800;
    margin: 15px;
    margin-left: 30px;
  }

  .main-simulation .box {
    border: 2px solid #fff; /* 흰색 테두리 */
    width: 800px;
    height: 400px;
    text-align: center;
    font-size: 1.5rem; /* 글자 크기 조정 */
    letter-spacing: 0.2em;
    line-height: 2em;
  }

  .main-simulation .box b {
    font-size: 1.7rem; /* 'JCM' 텍스트 강조 */
  }

  /* 메인페이지 main-reference */
  .main-reference {
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-reference .text {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
  }

  .main-reference .text .title {
    font-size: xx-large;
    font-weight: 800;
    margin: 15px;
    margin-left: 30px;
  }

  .main-reference .box {
    border: 2px solid #fff;
    width: 200px;
    height: 400px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    line-height: 2em;
  }

  .main-reference .box b {
    font-size: 1.7rem;
  }

  .main-reference .icon {
    margin: 100px 0px;
    border: 1px solid #fff; 
    width: 1000px;
    text-align: center;
  }

  .main-reference .reference-list {
    display: flex;
    flex-direction: row;
  }

  .main-reference .reference-list .box {
    margin: 10px;
  }

  /* 메인페이지 main-describe */
  .main-describe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-describe .text {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }

  .main-describe .text .title {
    font-size: xx-large;
    font-weight: 800;
    margin: 15px;
    margin-left: 30px;
  }

  .main-describe .box {
    border: 2px solid #fff;
    width: 80%;
    height: 700px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    line-height: 2em;
  }

  .main-describe .box b {
    font-size: 1.7rem;
  }

   /* 메인페이지 main-method */
  .main-method {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-method .text {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }

  .main-method .text .title {
    font-size: xx-large;
    font-weight: 800;
    margin: 15px;
    margin-left: 30px;
  }

  .main-method .box {
    border: 2px solid #fff;
    width: 80%;
    height: 700px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.2em;
    line-height: 2em;
  }

  .main-method .box b {
    font-size: 1.7rem;
  }

  /* 메인페이지 main-email */
  .main-email {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .main-email .box {
    border: 2px solid #fff;
    width: 65%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    letter-spacing: 0.1em;
    background-image: linear-gradient(to bottom right, 
    rgb(255, 117, 100),rgb(255, 117, 150), rgb(240, 86, 149), rgb(60, 103, 215), rgb(33, 136, 222), rgb(153, 50, 197));
  }

  .main-email .box .text {
    width: 90%;
    text-align: left;
    font-size: medium;
    margin-left: 30px;
  }

  .main-email .box .text .title {
    font-size: large;
    font-weight: 800;
    margin-bottom: 10px;
  }

  .main-email .box input {
    width: 400px;
    height: 30px;
    margin: 10px 0px;
    border: #888 solid 0.2px;
    border-radius: 7px;
    padding: 0px 5px;
  }

  .main-email .box textarea {
    width: 400px;
    height: 100px;
    margin: 10px 0px;
    border: #888 solid 0.2px;
    border-radius: 7px;
    resize: none;
    font-family: Arial, sans-serif;
    padding: 5px;
  }
  
  .main-email .box button {
    width: 250px;
    height: 40px;
    margin: 10px 0px; 
    background-color: #111;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: medium;
  }
