.password-container{
  width: 100%;
  background-color: rgb(243, 243, 243);
  height: 100vh;
  display: flex;
  justify-content: center;

  align-items: center;
}
.password-main {
   
    width: 50%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    text-align: center;
  }

  .password-main h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #000000;
  }

  .password-main .form-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
  }

  .password-main label {
    font-size: 1rem;
    color: #000000;
    display: block;
    margin-bottom: 8px;
  }

  .password-main input[type="password"], .password-main input[type="text"] {
    width: 100%;
    padding: 12px;

    border-radius: 5px;
    background-color: #ffffff;
    
    color: #707070;
    font-size: 1rem;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.3s ease;
  }



  /* 눈 모양 아이콘을 비밀번호 입력 창 안에 배치 */
  .show-hide {
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

  .password-main button {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .password-main button:hover {
    background-color: #d1d1d1;
    transform: scale(1.05);
  }

  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}