.history-main{
    height: 100vh;
    background-color: white;
    color: black;
    padding: 100px;
}
.history-list {
    min-width: 1000px;
    margin-top: 20px;
    background-color: white;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .history-list table {
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
  }

  .history-list table th, .history-list table td {

    padding: 12px;
    text-align: center;
  }

 table th {
    background-color: #000000;
    color: white;
  }

  .history-list table td button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }

  .history-list table td .edit-btn {
    background-color: #007bff; /* 수정 버튼 파란색 */
    color: white;
  }

  .history-list table td .delete-btn {
    background-color: #dc3545; /* 삭제 버튼 빨간색 */
    color: white;
  }

  .history-list table td button:hover {
    opacity: 0.8;
  }