.signIn-container {
  height: 100vh;
  width: 100vw;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn-container .signIn-main {
  margin: auto;
  display: flex;
  width: 700px; /* UI 크기를 줄임 */
  margin-top: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.signIn-container .image-section {
  width: 50%; /* 비율 조정 */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn-container .image-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.signIn-container .form-section {
  width: 50%; 
  padding: 20px;
}

.signIn-container .form-section h1 {
  font-size: 1.8rem; 
  margin-bottom: 15px;
  color: #333;
}

.signIn-container .form-section p {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #777;
}

.signIn-container .form-group {
  position: relative;
  margin-bottom: 15px;
}

.signIn-container .form-group label {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 0.9rem;
  color: #999;
  transition: all 0.3s ease;
}

.signIn-container .form-group input {
  width: 100%;
  padding: 10px 8px;
  font-size: 0.9rem; 
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.signIn-container .form-group .message {
  font-size: 0.6rem;
  color: #333;
}

.signIn-container .form-group.id-group {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 10px;
  position: relative;
}

.signIn-container .form-group.id-group input {
  flex: 1; 
  min-width: 150px;
}

.signIn-container .form-group.id-group button {
  height: 40px;
  padding: 0 16px;
  font-size: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signIn-container .form-group.id-group button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signIn-container .form-group.id-group .message {
  color: #333;
  margin-left: 10px;
  white-space: nowrap; 
  margin-top: 0;
}

.signIn-container .form-group.id-group button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signIn-container .form-group.password-group {
  margin: 15px 0;
}

.signIn-container .form-group input[type="date"]::placeholder {
  color: #999;
  font-size: 0.9rem;
}

.signIn-container .success-text {
  color: green;
  font-size: 0.6rem;
}

.signIn-container .error-text {
  color: red;
  font-size: 0.6rem;
  margin-top: 0;
}

.signIn-container #loginForm {
  margin: 80px auto;
}

/* input을 focus 했을 때 안쪽 글씨가 위로 올라가게 */
.signIn-container .form-group input:focus + label,
.signIn-container .form-group input:not(:placeholder-shown) + label {
  top: -14px;
  font-size: 0.8rem;
  color: #333;
}

.signIn-container .show-hide {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.signIn-container .form-btn {
  width: 100%;
  padding: 10px; /* 버튼 크기 조정 */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem; /* 폰트 크기 조정 */
  cursor: pointer;
  margin-bottom: 10px;
}

.signIn-container .form-btn:hover {
  background-color: #0056b3;
  transition: 0.4s;
}

.signIn-container .toggle-link {
  text-align: center;
  font-size: 0.85rem; /* 폰트 크기 조정 */
  color: #007bff;
  cursor: pointer;
}

.signIn-container .toggle-link:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.login-buttons-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 5px; 
  margin-bottom: 20px;
}

.login-buttons-container > * {
  flex-shrink: 0; /* 버튼 크기가 작아지지 않도록 설정 */
}
