.detail-post-main {
  color: #000;
  background-color: #fff;
  padding-top: 120px; /* 메뉴바 아래 여백 */
  padding-bottom: 40px;
  min-height: calc(100vh - 100px);
  display: flex;
  position: relative; /* 자식 요소의 절대 위치 기준 */
  
}
@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.go-back-button {
  position: absolute; /* 오른쪽 상단에 배치 */
  top: 10px;
  right: 38px;
  background: transparent;
  border: none;
  font-size: 24px; /* X의 크기 */
  font-weight: bold;
  cursor: pointer;
  color: #333; /* 텍스트 색상 */

}

.go-back-button:hover {
  color: #555; /* 마우스 오버 시 색상 */
}
.detail-post-main .detail-post {
  width: 85%; /* 전체 너비를 넓혀줌 */
  max-width: 900px; /* 최대 너비 설정 */
  margin: 20px 0;
  padding: 40px; /* 내부 여백 추가 */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000;
  position: relative;
  box-shadow:  10px 10px 10px 10px #888;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 1s ease-out forwards;
}
.detail-post-main .detail-post-content {
  margin-top: 20px;
  line-height: 1.6; /* 가독성을 위한 줄 간격 */
  font-size: 16px; /* 글자 크기 증가 */
}
.detail-post-main .detail-post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.detail-post-main .post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  color: #555;
  margin-top: 20px;
}

.detail-post-main .file-button {
  margin-top: 5px;
}

.detail-post-main .attachment {
  position: absolute;
  top: 140px; /* 원하는 위치에 맞게 조정 */
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px;
  width: 400px; /* 첨부파일 팝업 너비 */
 
}
.detail-post-main .attachment a{
  color: black;
  text-decoration: underline;
}
.detail-post-main .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
}
.pin-img{
  width: 50px;
  height: 50px;
}
.detail-post-main .detail-post-content table {
  width: 100%;
  margin-top: 20px;
  color: #000;
}

.detail-post-main .main-content {
  height: 400px;
  margin-top: 20px;
  padding: 20px; /* 내용 부분 여백 추가 */
  background-color: #f8f8f8;
  border-radius: 5px;
  font-size: 16px; /* 내용 부분 글자 크기 증가 */
  color: black;
}
.detail-post-main .post-actions{
  display: flex;
  justify-content: flex-end;

}
.detail-post-main .post-actions a {
  
  color: #858585;
  margin-right: 10px;
  text-decoration: none;
}
.detail-post-main .commend-div{
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
}
.detail-post-main .commend-div button{
  margin-right: 25px;
  width: 50px;

  height: 50px;
  border-radius: 50%;
  background-color: #5d7ea1;
  border-style: none;
}
.detail-post-main .comments-section {
  margin-top: 20px;
}

.detail-post-main .comments-section h4 {
  font-size: 20px;
  color: #000;
}

.detail-post-main .comment-item {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.detail-post-main .replies-list {
  margin-left: 30px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.detail-post-main .reply-item {
  display: flex;
  align-items: flex-start;
}

.detail-post-main .comment-profile-image,
.detail-post-main .reply-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.detail-post-main .comment-body,
.detail-post-main .reply-body {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
}

.detail-post-main .comment-userId {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.detail-post-main .reply-userId {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}


.detail-post-main .comment-content {
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 8px;
  color: #000;
}

.detail-post-main .reply-content {
  font-size: 13px;
  margin-bottom: 8px;
  color: #444;
  width: 100%;
  padding: 10px;
}
.detail-post-main .recomment-items{
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  
}
.detail-post-main .recomment-items a{
  color: black;
  font-weight: 500px;
}

.detail-post-main .comment-metadata,
.detail-post-main .reply-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #888;
}

.detail-post-main .comment-actions a {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
}

.detail-post-main .write-comment,
.detail-post-main .write-reply {
  margin-top: 15px;
}


.detail-post-main .input-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* 최대 너비 설정 */
}

.detail-post-main .write-comment textarea,
.detail-post-main .write-reply textarea {
  width: 100%; /* 텍스트 입력창을 최대 너비로 설정 */
  padding-right: 60px; /* 버튼을 위한 오른쪽 여백 */
  height: 60px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  background-color: #fff;
  resize: none;
  box-sizing: border-box;
}

.detail-post-main .input-container button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #7a7e81;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.detail-post-main .post-list {
  margin-top: 30px;
  color: #000;
}

.detail-post-main .post-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.detail-post-main .post-content-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: #000;
  background-color: #fff;
}

.detail-post-main .post-content-table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #000;
}
