   /* 게시물 작성 div*/
.enroll-post .main-div{
    
    height: 130vh;
    background-color: white;
    color: black;
    margin-bottom: 100px;
    padding: 50px;

  } 
  .enroll-post .post-content-div {
    margin-top: 50px;
    width: 100%;
    padding: 30px;
    height: 950px;
    box-sizing: border-box;
    border: 1px solid #b1b1b1;
    border-radius: 15px;
   
  }

  .enroll-post .menubar-div ul li {
    list-style: none;
    margin-top: 30px;
    margin-left: 50px;
  }


  .enroll-post .menubar-div ul li a{
    margin-left: 60px;
    font-size: large;
  }
  .enroll-post .menubar-div ul li a:hover{
    text-decoration: underline;
  }

  .enroll-post .post-content-div h2{
      margin-top: 30px;
      margin-bottom: 30px;
  }


  .enroll-post #formFileMultiple{
      margin-top: 15px;
      margin-bottom: 20px;
  }
  .enroll-post .enroll-btn{
   float: right;
   padding: 10px;
  }