.project-container {
    width: 100%;
    min-height: 100vh;
    background: white;
}

.project-container .project-banner {
    position: relative;
    text-align: center;
}

.project-container .project-banner img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-container .project-banner h1 {
    position: absolute;
    top: 67%;
    left: 13%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 900;
}

.project-container .project-header {
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
}

.project-container .project-header ul {
    display: flex;
    list-style: none;
    gap: 30px;
    color: rgb(70, 70, 70);
    font-weight: bold;
}

.project-container .project-header ul li {
    cursor: pointer;
    margin-top: 15px;
}

.project-container .project-header ul li:hover {
    color: #007bff;
}

.project-container .project-table {
    padding: 20px 50px;
}

.project-container .project-table table tbody tr {
    border-bottom: 1px solid #ddd;
}

.project-container .project-table table tbody tr td {
    padding: 30px 10px;
    font-size: 1rem;
    color: #555;
    cursor: pointer;
}

.project-container .project-table table tbody tr td:first-child {
    color: #333;
    font-weight: bold;
}

.project-container .project-table table tbody tr td:last-child {
    text-align: right;
}

.project-container .btn {
    float: right;
    margin-top: 30px;
    margin-right: 40px;
}

.project-container .pagination-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.menubar-div ul li {
    list-style: none;
    margin-top: 30px;
    margin-left: 50px;
  }

  .menubar-div {
    padding: 50px;
    min-width: 300px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    color: black;

  }

  .menubar-div ul li a {
    margin-left: 60px;
    font-size: large;
  }

  .menubar-div ul li a:hover {
    text-decoration: underline;
  }